<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">

<script>
    function handleLogin(event) {
        event.preventDefault();
        const form = event.target;
        const username = form.username.value;
        const password = form.password.value;

        clearErrors();

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'Login successful') {
                window.location.href = '/main';
            } else if (data.message === 'Invalid username') {
                showError(document.getElementById('username'), '아이디를 확인해주세요');
            } else if (data.message === 'Invalid password') {
                showError(document.getElementById('password'), '비밀번호를 확인해주세요');
            }
        })
        .catch(error => {
            alert('An error occurred');
        });
    }

    function showError(inputElement, message) {
            inputElement.classList.add('error');
            const errorElement = `<div class="error-message">${message}</div>`;
            inputElement.insertAdjacentHTML('afterend', errorElement);
        }

    function clearErrors() {
        const errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(el => el.remove());

        const errorInputs = document.querySelectorAll('input.error');
        errorInputs.forEach(el => el.classList.remove('error'));
    }
</script>
</head>
<body>
    <div class="login-container">
        <img class="main-logo" src="/static/logo.png" />
        <div class="form-container">
            <form class="main-form" onsubmit="handleLogin(event)">
                <div class="input-wrap">
                    <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요" required>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
                </div>
                <div class="bottom-wrap">
                    <input class="btn-login" type="submit" value="로그인">
                    <a href="/register" class="register-link">회원가입</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
