<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/mypage.css">
    <style>
        .modal.on {
            display: flex;
        }
    </style>
</head>
<body>
    <div class="mypage-containermt-5 mt-5">
        <div class="mypage-wrap">
            <!-- 삭제 모달 -->
            <div class="deletemodal hidden fixed inset-0 bg-gray-800 bg-opacity-75 items-center justify-center z-50">
                <div class="modal_popup rounded-lg w-auto bg-white p-5 relative">
                    <div class="flex flex-col mb-11">
                        <label class="flex justify-center font-bold">질문 삭제</label>
                    </div>
                    <div class="w-[350px] h-[200px] flex flex-col items-center justify-center">
                        <p class="mb-4">질문을 삭제하시겠습니까?</p>
                        <div class="submit_btn flex gap-4">
                            <button id="cancel_delete" type="button" class="inline-flex w-24 items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white bg-gray-500">
                                취소
                            </button>
                            <button id="confirm_delete" type="button" class="inline-flex w-24 items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white bg-red-500">
                                삭제
                            </button>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- 수정 모달 -->
            <div class="editmodal hidden">
                <div class="modal_popup">
                    <div class="modal_container w-[333px] h-[337px]">
                        <div class="p-5">
                            <div class="mt-7 flex flex-col gap-2"></div>
                            <form class="w-full">
                                <div class="input_section w-[320px] h-[304px] mb-9">
                                    <div class="edit_section">
                                        <label for="edit">질문 수정</label>
                                        <input id="edit_question" name="edit_question" type="text" required=""
                                        class="mt-2 block w-[320px] w-full text-sm rounded-lg border border-black px-3 py-10 shadow-sm outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1"
                                        placeholder="" value="">
                                    </div>
                                    <div class="answer_section">
                                        <label for="answer">정답</label>
                                        <input id="edit_answer" name="edit_answer" type="text" required=""
                                            class="mt-2 w-[320px] block w-full text-sm rounded-lg border border-black px-3 py-4 shadow-sm outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1"
                                            placeholder="" value="">
                                    </div>
                                </div>
                                <p class="mb-3 mt-2 text-sm text-gray-500"></p>
                                <div class="edit_btn">
                                    <button type="button"
                                            id="save_edit"
                                            class="inline-flex w-full items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1 disabled:bg-gray-400">
                                        수정
                                    </button>
                                </div>
                            </form>
                        </div>
                        <button 
                                id="close_btn"
                                type="button"
                                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center popup-close"><svg
                                    aria-hidden="true" class="w-5 h-5" fill="#c6c7c7" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    cliprule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close popup</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mypage-nav flex flex-row justify-between w-full">
                <a href="{{ url_for('main') }}"><img class="mypage-logo" src="/static/logo.png"/></a>
                <div class="name-wrap">
                    <span class="name">{{ username }}</span>
                    <span>님</span>
                </div>
                <button class="btn-logout"><img class="btn-logout-icn" src="/static/logout.png" /></button>
            </div>
            <div class="card-container">
                {% for question in questions %}
                <div class="card-wrap mt-4" data-id="{{ question['_id'] }}">
                    <div class="card-content-wrap w-full">
                        <div class="card-content-question-wrap flex flex-row justify-between">
                            <span class="card-content-question">질문</span>
                            <div class="question">{{ question['question'] }}</div>
                        </div>
                        <div class="card-content-answer-wrap flex flex-row">
                            <span class="card-content-answer">정답</span>
                            <div class="answer">{{ question['answer'] }}</div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="card-bottom-info">
                            <div class="info-views">
                            <span>조회수:</span>
                            <span>{{ question['views'] }}</span>
                            </div>
                        </div>
                        <div class="card-bottom-btn">
                            <button class="edit">수정</button>
                            <button class="delete">삭제</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // 수정 모달
            const editModal = $('.editmodal');
            const editModalOpen = $('.edit');
            const editModalClose = $('#close_btn');
            
            // 삭제 모달
            const deleteModal = $('.deletemodal');
            const deleteModalOpen = $('.delete');
            const deleteModalClose = $('#cancel_delete');
    
            // 로그아웃 버튼
            const logoutButton = $('.btn-logout');
    
            // 로그아웃 버튼 클릭 시 로그아웃 처리
            logoutButton.on('click', function() {
                $.ajax({
                    type: "GET",
                    url: "/logout",
                    success: function() {
                        window.location.href = '/login';
                    },
                    error: function() {
                        alert('로그아웃에 실패했습니다.');
                    }
                });
            });
            
            // 수정 모달 열기
            editModalOpen.on('click', function() {
                editModal.removeClass('hidden').addClass('on');
    
                // 모달 입력 필드에 기존 값 설정하기
                const cardWrap = $(this).closest('.card-wrap');
                const editQuestion = cardWrap.find('.question').text();
                const editAnswer = cardWrap.find('.answer').text();
    
                $('#edit_question').val(editQuestion);
                $('#edit_answer').val(editAnswer);
                $('#save_edit').data('id', cardWrap.data('id'));
            });
    
            // 수정 모달 닫기
            editModalClose.on('click', function() {
                editModal.addClass('hidden').removeClass('on');
            });
            
            // 삭제 모달 열기
            deleteModalOpen.on('click', function() {
                deleteModal.removeClass('hidden').addClass('on');
    
                // 삭제할 질문 설정
                const cardWrap = $(this).closest('.card-wrap');
                const questionId = cardWrap.data('id');
                $('#confirm_delete').data('id', questionId);
            });
            
            // 삭제 모달 닫기
            deleteModalClose.on('click', function() {
                deleteModal.addClass('hidden').removeClass('on');
            });
    
            // 수정 저장
            $('#save_edit').on('click', function() {
                const questionId = $(this).data('id');
                const newQuestion = $('#edit_question').val();
                const newAnswer = $('#edit_answer').val();
    
                $.ajax({
                    type: "POST",
                    url: "/edit/questions",
                    data: JSON.stringify({ question_id: questionId, question: newQuestion, answer: newAnswer }),
                    contentType: "application/json",
                    success: function(response) {
                        if (response.result === 'success') {
                            alert('수정을 완료하였습니다.');
                            $(`.card-wrap[data-id='${questionId}'] .question`).text(newQuestion);
                            $(`.card-wrap[data-id='${questionId}'] .answer`).text(newAnswer);
                            editModal.addClass('hidden').removeClass('on');
                        } else {
                            alert('카드 수정에 실패했습니다.');
                        }
                    },
                    error: function() {
                        alert('카드 수정에 실패했습니다.');
                    }
                });
            });
    
            // 삭제 확인
            $('#confirm_delete').on('click', function() {
                const questionId = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: "/delete/questions",
                    data: JSON.stringify({ question_id: questionId }),
                    contentType: "application/json",
                    success: function(response) {
                        if (response.result === 'success') {
                            alert('질문이 삭제되었습니다.');
                            $(`.card-wrap[data-id='${questionId}']`).remove();
                            deleteModal.addClass('hidden').removeClass('on');
                        } else {
                            alert('카드 삭제에 실패했습니다.');
                        }
                    },
                    error: function() {
                        alert('카드 삭제에 실패했습니다.');
                    }
                });
            });
        });
    </script>
</body>
</html>
