<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/mypage.css">
</head>
<body>
    <div class="mypage-container">
        <div class="mypage-wrap">
            <!-- 삭제 모달 -->
            <div class="deletemodal">
                <div class="modal_popup">
                    <div class="modal_container w-[333px] h-[337px] flex flex-col items-center justify-center">
                        <div class="p-5">
                            <div class="mt-7 flex flex-col gap-2"></div>
                                <form class="w-full">
                                    <div>
                                        <div class="input_section w-[320px] mb-9">
                                            <div class="delete_inform">
                                                <label id="delete_message" class="block w-[320px] grid place-items-center rounded-lg px-3 py-1 outline-none text-black text-xl">
                                                    질문을 삭제하시겠습니까?
                                                </label>                                            
                                            </div>
                                        </div>
                                        <div class="submit_btn flex gap-4">
                                            <button id="cancel_delete"
                                                    type="submit"
                                                    class="inline-flex w-full items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1 disabled:bg-gray-400">
                                                취소
                                            </button>
                                            <button id="confirm_delete"
                                                    onclick="deleteCard('${id}')"
                                                    type="submit"
                                                    class="inline-flex w-full items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1 disabled:bg-gray-400">
                                                삭제
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- 수정 모달 -->
            <div class="editmodal">
                <div class="modal_popup">
                    <div class="modal_container w-[333px] h-[337px]">
                        <div class="p-5">
                            <div class="mt-7 flex flex-col gap-2"></div>
                            <form class="w-full">
                                <div class="input_section w-[320px] h-[304px] mb-9">
                                    <div class="edit_section">
                                        <label for="edit">질문 수정</label>
                                        <input id="edit_question" name="edit_question" type="text" required=""
                                        class="block w-[320px] w-full text-sm rounded-lg border border-black px-3 py-10 pb-3 shadow-sm outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1"
                                        placeholder="" value="">
                                    </div>
                                    <div class="answer_section">
                                        <label for="answer">정답</label>
                                        <input id="edit_answer" name="edit_answer" type="text" required=""
                                            class="mt-2 w-[320px] block w-full text-sm rounded-lg border border-black px-3 py-4 shadow-sm outline-none placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1"
                                            placeholder="" value="">
                                    </div>
                                </div>
                                <p class="mb-3 mt-2 text-sm text-gray-500"></p>
                                <div class="edit_btn">
                                    <button type="submit"
                                            onclick="editCard()"
                                            class="inline-flex w-full items-center justify-center rounded-lg p-2 py-3 text-sm font-medium text-white outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1 disabled:bg-gray-400">
                                        수정
                                    </button>
                                </div>
                            </form>
                        </div>
                        <button 
                                id="close_btn"
                                type="button"
                                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center popup-close"><svg
                                    aria-hidden="true" class="w-5 h-5" fill="#c6c7c7" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    cliprule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close popup</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mypage-nav flex flex-row justify-left">
                <a href="{{ url_for('main') }}"><img class="mypage-logo" src="/static/logo.png"/></a>
                <div class="name-wrap">
                    <span class="name">{{ username }}</span>
                    <span>님</span>
                </div>
                <button class="btn-logout"><img class="btn-logout-icn" src="/static/logout.png" /></button>
            </div>
            <div class="card-container">
                <div class="card-wrap">
                    <div class="card-content-wrap">
                        <div class="card-content-question-wrap">
                            <span class="card-content-question">질문 </span>
                            <div class="question">아몬드가 죽으면?</div>
                        </div>
                        <div class="card-content-answer-wrap">
                            <span class="card-content-answer">정답</span>
                            <div class="answer">다이아몬드</div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="card-bottom-info">
                            <div class="info-views">
                            <span>조회수:</span>
                            <span>320</span>
                            </div>
                            <div class="info-hearts">
                                <img class="heart" src="/static/heart-filled.png" />
                                <span>10</span>
                            </div>
                        </div>
                        <div class="card-bottom-btn">
                            <button class="edit">수정</button>
                            <button class="delete">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // 수정 모달
            const editModal = $('.editmodal');
            const editModalOpen = $('.edit');
            const editModalClose = $('#close_btn');
            
            // 삭제 모달
            const deleteModal = $('.deletemodal');
            const deleteModalOpen = $('.delete');
            const deleteModalClose = $('#cancel_delete');
            
            //열기 버튼을 눌렀을 때 수정 모달팝업이 열림
            editModalOpen.on('click', function() {
                //'on' class 추가
                editModal.addClass('on');

                // 모달 입력 필드에 기존 값 설정하기
                const editQuestion = $('.question').text(); // 카드에서 질문 텍스트 가져오기
                const editAnswer = $('.answer').text(); // 카드에서 답변 텍스트 가져오기

                $('#edit_question').val(editQuestion);
                $('#edit_answer').val(editAnswer);
            });
            
            //닫기 버튼을 눌렀을 때 수정 모달팝업이 닫힘
            editModalClose.on('click', function() {
                //'on' class 제거
                editModal.removeClass('on');
            });
            
            //열기 버튼을 눌렀을 때 삭제 모달팝업이 열림
            deleteModalOpen.on('click', function() {
                //'on' class 추가
                deleteModal.addClass('on');
            });
            
            //닫기 버튼을 눌렀을 때 삭제 모달팝업이 닫힘
            deleteModalClose.on('click', function() {
                //'on' class 제거
                deleteModal.removeClass('on');
            });
        });


        // 모달 내에서 수정 버튼을 눌렀을 때
        function editCard(){
            let question = $("#edit_question").val();
            let answer = $("#edit_answer").val();

            $.ajax({
                    type: "POST",
                    url: "/api/edit",
                    contentType: "application/json",
                    data: JSON.stringify({'question':question, 'answer':answer}),
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let editedCard = $(`.card-wrap:contains('${question}')`);
                            editedCard.find('.question').text(question);
                            editedCard.find('.answer').text(answer);
                            
                            $('.editmodal').removeClass('on');
                            

                        }
                    }
                });


            let temp_html = `<div class="card-wrap">
                    <div class="card-content-wrap">
                        <div class="card-content-question-wrap">
                            <span class="card-content-question">질문 </span>
                            <div class="question">${question}</div>
                        </div>
                        <div class="card-content-answer-wrap">
                            <span class="card-content-answer">정답</span>
                            <div class="answer">${answer}</div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="card-bottom-info">
                            <div class="info-views">
                            <span>조회수:</span>
                            <span>320</span>
                            </div>
                            <div class="info-hearts">
                                <img class="heart" src="/static/heart-filled.png" />
                                <span>10</span>
                            </div>
                        </div>
                        <div class="card-bottom-btn">
                            <button class="edit">수정</button>
                            <button class="delete">삭제</button>
                        </div>
                    </div>
                </div>`

            
            $(".card-container").append(temp_html);
        }

        // 삭제 버튼을 눌렀을 때
        function deleteCard(id){ 
            $.ajax({
                    type: "POST",
                    url: "/delete/questions",
                    data: {question_give : question},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('삭제 완료!')
                            console.log(response['result'])
                        } else {
                            alert('카드 삭제에 실패했습니다.')
                            }
                        }
                    }
                );

        }
   </script>
</body>
</html>